#weather
    padding-top: 80px
    .box
        background: #a4caff
        border-radius: 20px
        padding: 10px 0
        width: 220px

        .data
            h2
                margin: 25px 0
                font-size: 25px
                color: #ffff
                display: flex
                justify-content: center
        input
            padding: 8px 0 8px 5px
            border-radius: 20px
            margin-left: 33px

        #btn
            font-size: 18px
            background: #79afff
            color: #ffff
            padding: 8px 50px
            margin: 20px 0 15px 60px
            width: 85px
            border-radius: 20px
            display: flex
            justify-content: center

    @media ( max-width: 449px )
        .box
            margin-left: 70px

    @media ( min-width: 450px ) and ( max-width: 767px )
        .box
            margin-left: 150px
