#weather
    padding-top: 80px
    .box
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%)
        border-radius: 20px
        padding: 10px 0 30px

        .data
            h2
                margin: 25px 0
                font-size: 25px
                color: #ffff
                display: flex
                justify-content: center
        input
            padding: 8px 10px
            border-radius: 20px
            margin-left: 45px

        #btn
            font-size: 18px
            padding: 15px 0
            background: #16577c9f
            color: #ffff
            padding: 8px 0
            margin: 20px 0 0 85px
            width: 85px
            border-radius: 20px
            display: flex
            justify-content: center
